<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Peer to Peer Chat Program</h1>
<div></div><br>
<form method="post" action="/register">
    <label for="name" >Your username: </label>
    <input type="text" name="name" id="name">
    <input type="submit" value="update">
</form>
<h3>
    <li>App</li>
    Hi there! Submit your message using the send button!
</h3>
<div>
    <!--ul th:each="u: ${user}"-->
        <li th:text="${user.userName}" th:object="${user}">

        </li>
    </ul>
</div>
<form method="post" action="/message">
    <label for="message" >Write message: </label>
    <input type="text" name="name" id="message">
    <input type="submit" value="send">
</form>
</body>
</html>