<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title > Welcome</title>
</head>
<body>
    <div>
        <li><a href="index.hu">Information </a></li>
    </div>
    <div></div><br>
    <div>
        <img src="smiling_fox.jpg">
    </div><br>
    <div></div><br>
    <div >
        <h1 th:text="'This is ' + ${fox.name} + ' , currently living on ' + ${fox.getFood()} + ' and ' + ${fox.drink} + '. You know ' + ${fox.getNumTricks()} + ' tricks' "></h1>
    </div>
    <div>
        <h1>Known tricks</h1>
    </div>
    <div th:object="${fox}">
          <p th:if="*{getNumTricks()}==0">You know no tricks yet. Go, learn some!</p>
        <ul th:unless="*{getNumTricks()}==0">
        <li>Write HTML</li>
        <li>Code Java</li>
        </ul>
    </div>
    <div>
        <a href="/">Login page</a>

    </div>
<div>
    <a href="/nutritionstore">Nutrition Store</a>
</div>
</body>
</html>