<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Welcome to Proggrammer Fox Club!</h1>
    </div>
    <div>
        <span>Please provide a name, so you can associate it with your pet!</span>
    </div>
    <div></div><br>
    <form action="/login" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
        <input type="submit" value="GO" >
    </form>



</body>
</html>