<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>

<ul>
    <li>Information</li>
    <li>Nutrition Store</li>
    <li>Trick Center</li>
    <li>Action History</li>
</ul>
    <form action="/nutritionstore" method="post" th:object="${fox}">
        <label for="food">Food</label>
        <select name="food" id="food">
            <option th:each="onefood: ${foods}" th:utext="${onefood}" value="${onefood}"></option>
        </select>
    <label for="drink">Drink</label>
    <select name="drink" id="drink">
        <option value="water">Water</option>
        <option value="pallinka">Pálinka</option>
        <option value="cocoa">Cocoa</option>
        <option value="milk">Milk</option>
    </select>
        <input type="submit" value="Change">
</form>

</body>
</html>