<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>

<ul>
    <li>Information</li>
    <li>Nutrition Store</li>
    <li>Trick Center</li>
    <li>Action History</li>
</ul>
    <form>
        <label for="food">Food</label>
        <select name="food" id="food">
            <option value="carrot">Carrot</option>
            <option value="porkolt">Pörkölt</option>
            <option value="soup">Soup</option>
            <option value="chicken">Chicken</option>
        </select>
    <label for="drink">Drink</label>
    <select name="drink" id="drink">
        <option value="water">Water</option>
        <option value="pallinka">Pálinka</option>
        <option value="cocoa">Cocoa</option>
        <option value="milk">Milk</option>
    </select>
        <input type="submit" value="Change">
</form>

</body>
</html>