<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
<div>
    <a href="/submit">Submit new post</a>
</div>
<h1>Trending posts</h1>
    <table method="get">
         <tr th:each="onereddit:${redditlist}" th:object="${onereddit}">
             <td th:text="*{id}"></td>
             <td th:text="${onereddit.likeOfReddit}"></td>
             <td th:url="${onereddit.name}"></td>
        </tr>
    </table>
</body>
</html>