<!DOCTYPE html>
<html lang="en" xmlns:th="htttp//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Welcome</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<div>


</div>

        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Animal Type</th>
                <th>Is it a king?</th>
                <th>Donate</th>
            </thead>
            <tbody>
            <tr th:each="oneaccount : ${accountslist}">
                <td th:text="${oneaccountStat.count}"></td>
                <td th:text="${oneaccount.name}"></td>
                <td th:text="${#numbers.formatDecimal(oneaccount.balance,0,'POINT',2,'COMMA')+ ' Zebra'}"></td>
                <td th:text="${oneaccount.animalType}"></td>
                <td th:text="${oneaccount.isKing}"></td>
                <td><input type="submit" value="donate" name="submit-button" id="buttons"></td>
            </tr>
            </tbody>
        </table><br>
<form action="show" method="post">
    <div>
        <input type="submit" value="donate" id="submit-button" name="submit-button">
    </div>
</form>
<div><a href="/show">go back</a></div>

</body>
</html>

