<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Space Travel</title>
</head>
<body>
<h1>Space Transporter</h1>
<table>
    <thead>
        <th>Planet</th>
        <th>Population</th>
        <th>SpaceShip location</th>
        <th>People on ship</th>
    </thead>
    <tbody>
        <tr th:each="oneplanet:${planetlist}" th:object="${oneplanet}">
            <td th:text="*{name}"></td>
            <td th:text="*{population}"></td>
            <td>
                <form method="post">
                    <div th:if="${spaceship.active==true}">
                         <a th:href="@{'/movehere/'+ ${spaceship.id}}">toPlanet</a>
                        <a th:href="@{'/movehere/'+ ${spaceship.id}}">toShip</a>
                    </div>
                    <div>
                        <input type="hidden" name="id">
                        <input type="submit" value="Move here" >
                    </div>
                    </div>
                </form>
            </td>
            <td th:text="${spaceship.utilization}"></td>
        </tr>


            <!--div th:if="*{active}" ></div>
             <td th:unless="">   <form method="post">
                    <input type="submit" value="Move here" >
                    <input type="hidden" name="id">
                </form>
            </td-->
        </tr>

    </tbody>


</table>

</body>
</html>