<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Space Travel</title>
</head>
<body>
<h1>Space Transporter</h1>
<table>
    <thead>
        <th>Planet</th>
        <th>Population</th>
        <th>SpaceShip location</th>
        <th>People on ship</th>
    </thead>
    <tbody>
        <tr th:each="oneplanet:${planetlist}" th:object="${oneplanet}">
            <td th:text="*{name}"></td>
            <td th:text="*{population}"></td>

                    <td th:if="${spaceship.planet}==*{name}">
                        <a th:href="@{'/movehere/'+ ${spaceship.id}}"> ←toPlanet</a>
                        <a th:href="@{'/movehere/'+ ${spaceship.id}}">toShip→</a>

                     <td th:unless="${spaceship.planet}==*{name}" >
                        <input type="hidden" name="id">
                        <input type="submit" value="Move here" >
                    </td>

            <td th:if="${spaceship.planet}==*{name}" th:text="${spaceship.utilization}"></td>
            <td th:unless="${spaceship.planet}==*{name}">-</td>
        </tr>


            <!--div th:if="*{active}" ></div>
             <td th:unless="">   <form method="post">
                    <input type="submit" value="Move here" >
                    <input type="hidden" name="id">
                </form>
            </td-->
        </tr>

    </tbody>


</table>

</body>
</html>