form {
    background-color: white;
    margin:150px auto;
    width:353px;
    height: 300px;
    padding:40px;
    border-radius:3px;
}
body {
    background-color: lightgrey;
    font-size: 20px;
    font-family: "DejaVu Sans";
}
.title {
    border: solid 1px lightgreen;
    border-radius: 2px;
}
.title:focus {
    border: lightseagreen solid 2px;
}
