<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${shelter.name} "></title>
</head>
<body>
<h1 th:text="${shelter.name} "></h1>
<div>
    <h2>Animals in the shelter</h2>
</div>

<table>
    <thead>
    <th>Name</th>
    <th>Color</th>
    <th>Age</th>
    <th>Adoptation</th>
    </thead>
    <tbody>
    <tr th:each="animal: ${shelter.animals}" th:object="${animal}">
        <td th:text="*{name}"></td>
        <td th:text="*{color}"></td>
        <td th:text="*{age}"></td>
        <td>
            <form method="post" th:action="@{'profile/' + ${animal.id}+'/adopt'}">
                <input type="submit" name="adopt" value="adopt animal">
            </form>
        </td>
    </tr>
    </tbody>
</table>
    <div>

        <form th:object="${newanimal}" action="#" th:action="@{'/profile/' + ${shelter.id}}" method="post">
            <label for="name">Name</label>
            <label for="color">Color</label>
            <label for="age">Age</label>

            <input type="text" th:field="*{name}" id="name">
            <input type="text" th:field="*{color}" id="color">
            <input type="text" th:field="*{age}" id="age">
            <input type="submit" value="Add">
        </form>


    </div>




</body>
</html>