<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/Style.css}">
    <script th:src="@{script.js}"></script>
    <meta charset="UTF-8">
    <title>My ToDos</title>
</head>
<body>

<div class="mask" id="mask">
    <div class="add-form" id="add-form">
        <form method="post" action="/todo/add">
            <div class="form-elements">
                <span id="text">Here you can add a new todo</span><br>
                <div></div><br>
                <input type="text" id="todo-title" name="additem" placeholder="add todo" class="todo-title" autofocus><br>
                <button type="submit" value="create account" id="submit-button" class="submit-button">add</button>
                <a class="cancel-form" id="cancel-form">Cancel</a>
            </div>

        </form>

    </div>
</div>

<div>
    <a href="/todo/list/">ToDos</a><br>
</div>
<div></div>
<div>
    <a href="/todo/list/?isActive=true">AllToDos</a>
</div>

<h1 th:text="'Welcome ' + ${person.name} + ', these are your todos:'" class="title-of-page"></h1>

<form method="get" action="/todo/search" >
    <input type="text" name="title">
    <button type="submit">search</button>
</form>

<table class="table table-hover">
    <thead>
    <th>ID</th>
    <th>TITLE</th>
    <th>URGENT</th>
    <th>DONE</th>
    <th>DELETE</th>
    <th>EDIT</th>
    </thead>
    <tbody>
    <tr th:each="onetodo: ${todolist}" th:object="${onetodo}">
        <td th:text="${onetodo.id}"></td>
        <td th:text="${onetodo.title}"></td>
        <div th:switch="*{urgent}" class="urgent-div"><span class="urgent-div-text">This is URGENT, dude!</span>
            <td th:case="true"><span class="glyphicon glyphicon-time" style="color: blue"></span></td>
            <td th:case="false"><span class="glyphicon glyphicon-heart" style="color: lightskyblue"></span></td>
        </div>

        <div th:switch="*{done}">
            <td th:case="true"><span class="glyphicon glyphicon-ok" style="color: lawngreen"></span></td>
            <td th:case="false"><span class="glyphicon glyphicon-remove"></span></td>
        </div>
        <td><form action="/todo/delete" method="post">
            <input type="hidden" name="delete" th:value="${onetodo.id}" >
            <input type="submit" name="delete" value="Delete this todo" class="btn btn-primary">
        </form>
        </td>
        <td>
            <form th:action="@{'/todo/' + ${onetodo.id}+ '/edit'}" method="get">
                <input type="submit" value="Edit this todo"  class="btn btn-info">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<button class="add-todo" id="add-todo">ADD ToDos</button>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var addForm = document.getElementById('add-form');
    var cancelButton = document.getElementById('cancel-form');
    var addButton = document.getElementById('add-todo');
    var formMask = document.getElementById('mask')
    cancelButton.addEventListener('click', function() {
        addForm.style.display = 'none'
        formMask.style.display = 'none'
    })
    addButton.addEventListener('click', function() {
        addForm.style.display = 'inline-block'
        formMask.style.display = 'inline-block'
    })
</script>
</body>
<footer>
<img src="/nessie.jpg" id="image">
</footer>
</html>