<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
     <link rel="stylesheet" th:href="@{/Style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <a href="/todo/list/">ToDos</a>
    </div>
    <div></div>
    <div>
        <a href="/todo/list/?isActive=true">AllToDos</a>
    </div>

    <h1>Todos for today: </h1>
    <table>
        <thead>
        <th>ID</th>
        <th>TITLE</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th>DELETE</th>
        </thead>
        <tbody>
        <tr th:each="onetodo: ${todolist}">
            <td th:text="${onetodo.id}"></td>
            <td th:text="${onetodo.title}"></td>
            <td th:symbol="${onetodo.isUrgent()} ? '☞' : '☺' "></td>
            <td th:symbol="${onetodo.done} ? '✔' : '❑'"></td>
            <form action="/todo/delete" method="post">
                <input type="hidden" name="delete" th:value="${onetodo.id}">
                <input type="submit" name="delete" value="delete">
            </form>
        </tr>
        </tbody>
    </table>
    <a href="/todo/add/">ADD_ToDos</a>
</body>
</html>